/* CSS reset */
html, body, div, span, h1, h2, h3, p, a, table, tr, th, td, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1em;
    vertical-align: baseline;
}
body, td, th {
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 1.2em;
    color: black;
}
body {
    background-color: white;
    margin: 1em;
}
h1, h2, h3 {
    font-weight: bold;
}
h1 {
    font-size: 1.6em;
    margin: 1em 0 1em 0;
}
h2 {
    font-size: 1.4em;
    margin: 1.4em 0 1em 0;
}
h3 {
    font-size: 1.2em;
    margin: 1.5em 0 1em 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.2em 0 0 0;
}
tr:nth-child(even) {
    background-color: #f4f4f4;
}
th, td {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-style: solid;
    text-align: left;
}
th {
    font-weight: bold;
}
p {
    margin: 0.5em 0 0 0;
}
p:first-child {
    margin: 0;
}
a {
    color: #004b91;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.linktarget {
    color: black;
}
a.linktarget:hover {
    text-decoration: none;
}


/* Index page */
ul.chisel-request-list, ul.chisel-request-list ul {
    list-style: none;
}
ul.chisel-request-list li {
    margin: 0.75em 0em;
}
ul.chisel-request-list li ul li {
    margin: 0.75em .25em;
}
ul.chisel-request-list li a, ul.chisel-request-list li ul li a {
    font-size: 1.25em;
}

/* Request page */
div.chisel-header {
    margin: .25em 0;
}
div.chisel-notes {
    margin: 1em 0;
}
div.chisel-notes div {
    margin: .75em 0;
}
div.chisel-notes div p ul {
    list-style: none;
    margin: .4em .2em;
}
div.chisel-notes div p ul li {
    margin: 0 1em;
}
ul.chisel-constraint-list {
    list-style: none;
    white-space: nowrap;
}
.chisel-emphasis {
    font-style:italic;
}
